[Unit]
Description=Telemetry Streamlit Service

[Service]
ExecStart=/home/lebewob/miniforge3/bin/streamlit run /home/lebewob/Dashboard/application/server/server.py --server.port 8080
WorkingDirectory=/home/lebewob/Dashboard/application/server
Restart=always

[Install]
WantedBy=multi-user.target
